.converter {
    display: flex;
    justify-content: center;
    &__column{
        width: 40%;
        &:first-child {
            margin-right: 50px;
        }   
    }
}
@media(max-width: 600px) {
    .converter {
        flex-direction: column;
        &__column{
            width: 100%;
            &:first-child {
                margin-right: 0;
            }   
            &:last-child {
                margin-top: 50px;
            }
        }
    }
}